# Postgres
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=bankdb
POSTGRES_USER=bankuser
POSTGRES_PASSWORD=bankpass

# Kafka
KAFKA_BOOTSTRAP_SERVERS=kafka:9092

# JWT
APP_JWT_SECRET=change_this_secret_to_a_strong_value_with_min_32_chars
APP_JWT_EXPIRATION_MS=3600000

# App
LOG_LEVEL=INFO

